@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
@import "tailwindcss";

@theme {
    /* Colors */
    --color-background: #FFFAF6;
    --color-below-background: #3A4136;
    --color-on-background: #413D36;
    --color-surface-low: #FBF2EA;
    --color-primary-container: #DDEDAA;
    --color-on-primary-container: #202F21;

    /* Typography */
    --font-sans: -apple-system, BlinkMacSystemFont, "Inter", sans-serif;
    --font-serif: "Lora", serif;
    --text-md: 16px;

    /* Spacings */
    --spacing-sides: 8rem; /* 128px */
    --spacing-navbar: 7.5rem; /* 120px */
}

@media (max-width: 1024px) {
    :root {
        --spacing-sides: 1rem;
    }
}
